@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@layer base {
    html {
        @apply scroll-smooth
    }
}

body {
    @apply font-[Poppins]
}

li {
    @apply p-4 text-sm
}

h2 {
    @apply text-2xl font-bold
}

@layer utilities {
    .clip-path-custom{
        clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
    }
    .shadow-custom{
        box-shadow: 0 3px 5px #000;
    }
    .border-custom{
        border: 10px solid #FFFFFF;
    }

    .info-shadow-custom{
        box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19)
    }

    .icons-custom{
        font-size: 20px;
        text-decoration: none;
        color: black;
        margin-top: 20px;
        padding: 0 5px;
    }
}
